#### Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.ensemble import RandomForestRegressor as RFR
from xgboost import XGBRegressor as XGBR
from lightgbm import LGBMRegressor as LGBMR

C:\Users\ChristianGardel\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

#### Loading Data

In [2]:
data = pd.read_csv('sales.csv')
print(data.shape)
data.head()

(640840, 10)

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,425390,366,4,2013-04-18,517,1,0,0,0,4422
1,291687,394,6,2015-04-11,694,1,0,0,0,8297
2,411278,807,4,2013-08-29,970,1,1,0,0,9729
3,664714,802,2,2013-05-28,473,1,1,0,0,6513
4,540835,726,4,2013-10-10,1068,1,1,0,0,10882

#### Checking Info and Dtypes

In [3]:
data.info

<bound method DataFrame.info of         Unnamed: 0  store_ID  day_of_week        date  nb_customers_on_day  \
0           425390       366            4  2013-04-18                  517
1           291687       394            6  2015-04-11                  694
2           411278       807            4  2013-08-29                  970
3           664714       802            2  2013-05-28                  473
4           540835       726            4  2013-10-10                 1068
...            ...       ...          ...         ...                  ...
640835      359783       409            6  2013-10-26                  483
640836      152315        97            1  2014-04-14                  987
640837      117952       987            1  2014-07-07                  925
640838      435829      1084            4  2014-06-12                  725
640839      305711       695            7  2015-05-03                    0

        open  promotion state_holiday  school_holiday  sales
0          1          0             0               0   4422
1          1          0             0               0   8297
2          1          1             0               0   9729
3          1          1             0               0   6513
4          1          1             0               0  10882
...      ...        ...           ...             ...    ...
640835     1          0             0               0   4553
640836     1          1             0               0  12307
640837     1          0             0               0   6800
640838     1          0             0               0   5344
640839     0          0             0               0      0

[640840 rows x 10 columns]>

In [4]:
data.dtypes

Unnamed: 0              int64
store_ID                int64
day_of_week             int64
date                   object
nb_customers_on_day     int64
open                    int64
promotion               int64
state_holiday          object
school_holiday          int64
sales                   int64
dtype: object

#### Checking Nans & Duplicates

In [5]:
data.isna().sum().sum()

0

In [6]:
data.duplicated().sum()

0

#### Checking values inside columns

In [7]:
data['Unnamed: 0'].value_counts()

425390    1
470563    1
581093    1
449511    1
671617    1
         ..
359805    1
159087    1
52456     1
46534     1
305711    1
Name: Unnamed: 0, Length: 640840, dtype: int64

In [8]:
data = data.drop(['Unnamed: 0'], axis = 1)

We can drop this column as it doenst give any relevant info. There is one for each row.

In [9]:
data['store_ID'].value_counts()

1045    645
309     636
754     635
432     634
286     634
       ...
1004    448
287     448
1065    445
81      438
542     436
Name: store_ID, Length: 1115, dtype: int64

These are the ids of the different stores

In [10]:
data['day_of_week'].value_counts()

5    92138
4    91972
2    91686
3    91651
6    91347
7    91075
1    90971
Name: day_of_week, dtype: int64

Days of the week encoded as numerical from 1 (monday) to 7 (sunday)

In [11]:
data['date'].value_counts()

2015-05-10    756
2014-05-23    746
2014-02-20    745
2014-05-22    741
2014-03-21    740
             ...
2014-10-20    562
2014-09-11    561
2014-12-09    561
2014-09-27    559
2014-08-17    558
Name: date, Length: 942, dtype: int64

In [12]:
data['date'] = pd.to_datetime(data['date'])

Date as a string, we convert this to date format

In [13]:
data['month_of_year'] =  data['date'].dt.month

Creating a new column containing the month info.

In [14]:
data = data.drop(['date'], axis = 1)

Drop Date column

In [15]:
data['nb_customers_on_day'].value_counts()

0       108854
560       1539
517       1507
571       1493
528       1492
         ...
3969         1
4496         1
4578         1
4925         1
4003         1
Name: nb_customers_on_day, Length: 3886, dtype: int64

Number of customers received per day

In [16]:
data['open'].value_counts()

1    532016
0    108824
Name: open, dtype: int64

Boolean indicating 0 shop closed 1 shop opened

In [17]:
data['promotion'].value_counts()

0    396220
1    244620
Name: promotion, dtype: int64

Boolean indicating 0 No promo 1 promo Active

In [18]:
data['state_holiday'].value_counts()

0    621160
a     12842
b      4214
c      2624
Name: state_holiday, dtype: int64

Grouping values a,b & c as 1. They all mean Holidays

In [19]:
data['state_holiday'] = np.where(data.state_holiday.isin(['a','b','c']),'1', data.state_holiday)
data['state_holiday'].value_counts()

0    621160
1     19680
Name: state_holiday, dtype: int64

Boolean indicating 0 No Holiday 1 Holiday On

In [20]:
data['school_holiday'].value_counts()

0    526468
1    114372
Name: school_holiday, dtype: int64

In [21]:
data['school_holiday'] = data['school_holiday'].replace({0:1, 1:0})
data['school_holiday'].value_counts()

1    526468
0    114372
Name: school_holiday, dtype: int64

Boolean indicating 0 No Holiday 1 Holiday On

In [22]:
data['sales'].value_counts()

0        108855
5674        146
6049        134
5449        130
5723        128
          ...
17856         1
24020         1
20922         1
16375         1
16737         1
Name: sales, Length: 20129, dtype: int64

In [ ]:
# def clean_dataframe(data):
#     data.columns = data.columns.str.lower()
#     data['open'] = data['open'].astype('object')
#     data['promotion'] = data['promotion'].astype('object')
#     data['day_of_week'] = data['day_of_week'].astype('object')
#     data['state_holiday'] = data['state_holiday'].astype('object')
#     data['school_holiday'] = data['school_holiday'].astype('object')
#     data["store_ID"] = data["store_ID"].astype("object")
#     data.date = data.date.astype("datetime64")
#     data["year"] = pd.DatetimeIndex(data.date).year
#     data["month"] = pd.DatetimeIndex(data.date).month
#     data["day"] = pd.DatetimeIndex(data.date).day
#     data.date = data.date.astype("object")
#     data['state_holiday'] = data['state_holiday'].str.replace('a','1').str.replace('b','2').str.replace('c','3').astype('object')
#     try:
#         data = data.drop(columns = ["Unnamed: 0"])
#     except:
#         pass
#     return data

#### Re Checking dtypes

In [23]:
data['store_ID'] = data['store_ID'].astype('object')
data['promotion'] = data['promotion'].astype('object')
data['open'] = data['open'].astype('object')
data['school_holiday'] = data['school_holiday'].astype('object')
data['day_of_week'] = data['day_of_week'].astype('object')
data['month_of_year'] = data['month_of_year'].astype('object')

In [24]:
data.dtypes

store_ID               object
day_of_week            object
nb_customers_on_day     int64
open                   object
promotion              object
state_holiday          object
school_holiday         object
sales                   int64
month_of_year          object
dtype: object

#### Group total sales and nº of custtomeers by store ID & Day  of the week

In [25]:
data_grp_ID = data.groupby(['store_ID', 'day_of_week']).agg({'sales' : sum, 'nb_customers_on_day': sum})
data_grp_ID.sort_values(by = ['sales'], ascending= False)

                        sales  nb_customers_on_day
store_ID day_of_week
262      7            2472935               378635
817      1            1999023               275256
         4            1954055               284220
513      1            1948643               215507
817      2            1919305               273103
...                       ...                  ...
575      7                  0                    0
576      7                  0                    0
577      7                  0                    0
579      7                  0                    0
1115     7                  0                    0

[7805 rows x 2 columns]

#### Splitting between Num and Cat

In [26]:
categorical = data.select_dtypes(object)
numerical = data.select_dtypes(np.number)

In [27]:
categorical

,store_ID,day_of_week,open,promotion,state_holiday,school_holiday,month_of_year
0,366,4,1,0,0,1,4
1,394,6,1,0,0,1,4
2,807,4,1,1,0,1,8
3,802,2,1,1,0,1,5
4,726,4,1,1,0,1,10
...,...,...,...,...,...,...,...
640835,409,6,1,0,0,1,10
640836,97,1,1,1,0,1,4
640837,987,1,1,0,0,1,7
640838,1084,4,1,0,0,1,6
640839,695,7,0,0,0,1,5

In [28]:
numerical

        nb_customers_on_day  sales
0                       517   4422
1                       694   8297
2                       970   9729
3                       473   6513
4                      1068  10882
...                     ...    ...
640835                  483   4553
640836                  987  12307
640837                  925   6800
640838                  725   5344
640839                    0      0

[640840 rows x 2 columns]

#### Encoding Categorical Variables

In [ ]:
encoder = OneHotEncoder(handle_unknown ='error', drop='first').fit(categorical)
cat_encoded  = encoder.transform(categorical).toarray()
cat_encoded_df = pd.DataFrame(data = cat_encoded, columns = encoder.get_feature_names_out())

In [ ]:
cat_encoded_df

#### Transformations on numericals

In [ ]:
transformer = StandardScaler().fit(numerical)
num_scaled = pd.DataFrame(transformer.transform(numerical), columns=numerical.columns)
print(num_scaled.shape)
num_scaled

#### Concatenating Num Stand. and Cat Encoded.

In [ ]:
concat_data = pd.concat((num_scaled,cat_encoded_df), axis=1)

In [ ]:
concat_data

#### X/y Split

In [ ]:
y = concat_data['sales']
X = concat_data.drop(['sales'], axis=1)

#### Train/Test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1224)

display(X_train.shape)
display(X_test.shape)
display(y_train.shape)
display(y_test.shape)

#### Linear Regression

In [ ]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

In [ ]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,predictions_test)
mse

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse

In [ ]:
lm.score(X_test, y_test)

#### KNN Regression

In [ ]:
knn = KNeighborsRegressor()
knn.fit(X_train, y_train)

In [ ]:
knn.predict(X_test)

In [ ]:
knn.score(X_test, y_test)

#### MLP Regression

In [ ]:
mlpr = MLPRegressor()
mlpr.fit(X_train, y_train)

In [ ]:
mlpr.score(X_test, y_test)

In [ ]:
pred_m = mlpr.predict(X_test)

print("precision: ",precision_score(y_test,pred_m))
print("recall: ",recall_score(y_test,pred_m))
print("f1: ",f1_score(y_test,pred_m))

#### Ramdom Forest Reg

In [ ]:
rfr=RFR()
rfr.fit(X_train, y_train)

In [ ]:
rfr.score(X_test, y_test)

In [ ]:
pred_r = rfr.predict(X_test)

print("precision: ",precision_score(y_test,pred_r))
print("recall: ",recall_score(y_test,pred_r))
print("f1: ",f1_score(y_test,pred_r))

In [ ]:
categorical = data.select_dtypes(object)
numerical = data.select_dtypes(np.number)


encoder = OneHotEncoder(handle_unknown ='error', drop='first').fit(categorical)
cat_encoded  = encoder.transform(categorical).toarray()
cat_encoded_df = pd.DataFrame(data = cat_encoded, columns = encoder.get_feature_names_out())

transformer = StandardScaler().fit(numerical)
num_scaled = pd.DataFrame(transformer.transform(numerical), columns=numerical.columns)
print(num_scaled.shape)
num_scaled

# concat_data = pd.concat((num_scaled,cat_encoded_df), axis=1)


# Separate the features from the labels

y = concat_data['sales']
X = concat_data.drop(['sales'], axis=1)

print(f'y: {y.shape}')
print(f'X: {X.shape}')

# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1224)

# Linear regression

lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

y_pred_lm=lm.predict(X_test)

# KNN Regression

knn = KNeighborsRegressor()
knn.fit(X_train, y_train)

y_pred_knn=knn.predict(X_test)

# MLP Regression

mlpr = MLPRegressor()
mlpr.fit(X_train, y_train)

y_pred_mlpr=mlpr.predict(X_test)

# SGD Regression

sgdr = SGDRegressor()
sgdr.fit(X_train, y_train)

y_pred_sgdr=sgdr.predict(X_test)

# Lasso L1

lasso=Lasso()
lasso.fit(X_train, y_train)

y_pred_lasso=lasso.predict(X_test)

# Ridge L2

ridge=Ridge()
ridge.fit(X_train, y_train)

y_pred_ridge=ridge.predict(X_test)

# ElasticNet L1+L2

elastic=ElasticNet()
elastic.fit(X_train, y_train)

y_pred_elastic=elastic.predict(X_test)

# Random forest regressor

rfr=RFR()
rfr.fit(X_train, y_train)

y_pred_rfr=rfr.predict(X_test)

# XGB regressor

xgbr=XGBR()
xgbr.fit(X_train, y_train)

y_pred_xgbr=xgbr.predict(X_test)

# LGBM regressor

lgbmr=LGBMR()
lgbmr.fit(X_train, y_train)

y_pred_lgbmr=lgbmr.predict(X_test)

# Model validation

models=[lm, knn, mlpr, sgdr, lasso, ridge, elastic, rfr, xgbr, lgbmr]
model_names=['lm', 'knn', 'mlpr', 'sgdr', 'lasso', 'ridge', 'elastic', 'rfr', 'xgbr', 'lgbmr']
preds=[y_pred_lm, y_pred_knn, y_pred_mlpr, y_pred_sgdr, y_pred_lasso, y_pred_ridge, y_pred_elastic, y_pred_rfr, y_pred_xgbr, y_pred_lgbmr]

for i in range(len(models)):
    print('=====================================')
    # R2 validation
    train_score=models[i].score(X_train, y_train)
    test_score=models[i].score(X_test, y_test)
    print ('Model: {}, train R2: {} -- test R2: {}'.format(model_names[i], train_score, test_score))
    
    predictions = models[i].predict(X_train)
    
    # MSE validation
    train_mse=mean_squared_error(predictions, y_train)
    test_mse=mean_squared_error(preds[i], y_test)
    print ('Model: {}, train MSE: {} -- test MSE: {}'.format(model_names[i], train_mse, test_mse))

    # RMSE validation
    train_rmse=mean_squared_error(predictions, y_train)**0.5
    test_rmse=mean_squared_error(preds[i], y_test)**0.5
    print ('Model: {}, train RMSE: {} -- test RMSE: {}'.format(model_names[i], train_rmse, test_rmse))

    # MAE validation
    train_mae=mean_absolute_error(predictions, y_train)
    test_mae=mean_absolute_error(preds[i], y_test)
    print ('Model: {}, train MAE: {} -- test MAE: {}'.format(model_names[i], train_mae, test_mae))

#### Correlation Matrix

In [ ]:
corr_matrix=concat_data.corr()  
fig, ax = plt.subplots(figsize=(18, 8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

In [ ]:
validation = pd.read_csv('validation_for_students.csv')
print(validation.shape)
validation.head()